:root {
  --color-1-light: #ffff8d;
  --color-1-dark: #ff9a13;
  --color-2-light: #c8d3ea;
  --color-2-mid: #2575ae;
  --color-2-dark: #034a7c;
}

.dark {
  --color-1-light: #ffff8d;
}

body,
html {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TABLET */
@media (min-width: 600px) {
}

/* DESKTOP */
@media (min-width: 900px) {
}
