:root {
  --color-1-light: #ffff8d;
  --color-1-dark: #ff9a13;
  --color-2-light: #c8d3ea;
  --color-2-mid: #2575ae;
  --color-2-dark: #034a7c;
}

.dark {
  --color-1-light: #ffff8d;
}

/* MOBILE */
body,
html {
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header styles */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: var(--color-1-light);
  border-bottom: 1px solid #000000;
}

.logo {
  margin: 0;
  text-align: center;
  flex: 1;
  font-size: 2rem;
  font-family: Consolas, monospace;
  background: linear-gradient(to bottom, var(--color-1-light), var(--color-1-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--color-2-dark);
}

.left-slot,
.right-slot {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main styles */
.main {
  flex: 1;
  background: linear-gradient(to bottom, var(--color-2-mid), #000000);
}

/* searchbar styles */
.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.search-input {
  width: 50rem;
}

.button-row {
  display: flex;
  gap: 1rem;
  width: 30rem;
}

.button-row > * {
  flex: 1;
}

.digibtn {
  background-color: var(--color-1-dark) !important;
  color: black !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 8px;
  transition: 0.2s;
}

.digibtn:hover {
  background-color: var(--color-1-light) !important;
  cursor: pointer;
}

.digibtn:active {
  background-color: var(--color-2-mid) !important;
}

.digibtn .v-ripple__animation {
  background-color: var(--color-2-mid) !important;
}

/* displaydigimon styles */
.digimon-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--color-2-light);
  border-radius: 12px;
  max-width: 30rem;
  margin: auto;
  margin-top: 1rem;
}

.digimon-img {
  margin: 1rem;
  object-fit: contain;
  border: 1px solid black;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.circle-btn {
  background-color: var(--color-1-dark) !important;
  color: white !important;
  border-radius: 50%;
}

/* footer styles */
.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  background-color: var(--color-1-light);
  border-top: 1px solid #000000;
  font-family: Consolas, monospace;
}

/* TABLET */
@media (min-width: 600px) {
}

/* DESKTOP */
@media (min-width: 900px) {
}
